.userCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px dotted gray;
    border-radius: 7px 0 7px 0;
}

.userContent .header {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 25px;
    padding: 20px 30px 5px;
    color: rgb(94, 24, 94);
}

.description {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
